.navbar{
	background-color: #834040;
	border-radius: 30px;
}
.navbar li {
	float: left;
	list-style: none;
	margin: 13px 20px;
}
.navbar ul{
	overflow: auto;
}
.navbar li a{
	padding: 3px 3px;
	text-decoration: none;
	color: #d2e5d3;
}
.search{
	float: right;
	color: white;
	padding: 12px 75px;
}
.navbar input{
		border-radius: 16px;
		color:#d2e5d3; 

}
.navbar li a:hover{
	background-color: red;
	color: white;
}